body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.FotoPerfil {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.OpcionesCuadro {
    display: flex;
    justify-content: center;
    background-color:#007BFF;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.OpcionesCuadro .opcion {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.OpcionesCuadro .opcion:hover {
    text-decoration: underline;
}

.Dise単o {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Dise単oCuadro {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Dise単oCuadro h2 {
    margin-bottom: 20px;
}

.Dise単oCuadroInformacion {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Boton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Boton:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f0f8ff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}